test session starts =================================================
platform win32 -- Python 3.12.10, pytest-9.1.1, pluggy-1.6.0
rootdir: C:\Users\HP\testing_and_verification_PO\testing_practice_2
plugins: platformdirs-4.12.3, cov-7.1.0
collected 5 items

tests\test_calculator.py .....                                                                                   [100%]

=================================================== tests coverage ====================================================
__________________________________ coverage: platform win32, python 3.12.10-final-0 ___________________________________

Name            Stmts   Miss  Cover
-----------------------------------
calculator.py      10      0   100%
-----------------------------------
TOTAL              10      0   100%
================================================== 5 passed in 0.08s ==================================================